@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap");
* {
  padding: 0;
  margin: 0; }

.bg-gradient-deep {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.658), rgba(252, 252, 252, 0.03)); }

html {
  font-size: 62.5%;
  /** RESET para Rems - 62.5% = 10px de 16px **/
  scroll-behavior: smooth; }

body {
  background-image: url(../src/img/circle-scatter.svg);
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  bottom: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  overflow: auto; }
  body h1 {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: #8b2b05;
    font-weight: 600;
    margin-bottom: 1rem; }
  body h2 {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600;
    text-align: center; }
  body h3 {
    font-size: 2.5rem;
    color: #8b2b05;
    font-weight: 600;
    text-align: center; }
  body h4, body p {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center; }
  body .headers {
    margin-top: 5rem;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    flex-direction: column; }
  body .error {
    opacity: 0;
    display: none;
    margin-top: 5rem;
    padding: 5rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    transition: all ease-in-out 1s; }
  body .inputs {
    opacity: 1;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    padding-top: 5rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    transition: all ease-in-out 1s; }
    body .inputs .input-group {
      display: flex;
      justify-content: center; }
      body .inputs .input-group .comensales {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        width: fit-content;
        height: 50px; }
  body .output {
    margin-top: 5rem; }
    body .output .calculator {
      opacity: 1;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 5px;
      transition: all ease-in-out 1s; }
      body .output .calculator h4 {
        color: #8b2b05; }
      body .output .calculator ul {
        list-style: none;
        display: flex;
        height: 100%;
        padding: 0;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 1rem;
        text-transform: capitalize;
        font-weight: 600; }
      body .output .calculator table {
        display: none;
        opacity: 0; }
        body .output .calculator table td {
          text-transform: capitalize; }
    body .output .card {
      opacity: 0;
      width: 50vw;
      max-width: 50vh;
      transition: all ease-in-out 1s; }
