// Variables

// Colours

$mainColor: #fff;
$secondaryColor: #e9d8a5;
$hightlightColor:#8b2b05;
$fontColor: #e59e65;

// Palette
.bg-gradient-deep {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.658), rgba(252, 252, 252, 0.03));
}

// Border-Radius
$secBorderRadius: 5px;
$mainBorderRadius: 10px;
