html {
	font-size: 62.5%;
	/** RESET para Rems - 62.5% = 10px de 16px **/
	scroll-behavior: smooth;
}

body {
	background-image: url(../src/img/circle-scatter.svg);
	background-position: top center;
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	bottom: 0;
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	line-height: 2;
	overflow: auto;

	h1 {
		font-size: 5rem;
		text-align: center;
		text-transform: uppercase;
		color: $hightlightColor;
		font-weight: 600;
	}

	h2 {
		font-size: $textXl;
		color: $mainColor;
		font-weight: 600;
		text-align: center;
	}

	h3 {
		font-size: $textMd;
		color: $hightlightColor;
		font-weight: 600;
		text-align: center;
	}

	.headers {
		margin-top: 25rem;
		display: flex;
		justify-content: flex-end;
		align-content: flex-end;
		flex-direction: column;
	}
}