html {
	font-size: 62.5%;
	/** RESET para Rems - 62.5% = 10px de 16px **/
	scroll-behavior: smooth;
}

body {
	background-image: url(../src/img/circle-scatter.svg);
	background-position: top center;
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	bottom: 0;
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	line-height: 2;
	overflow: auto;

	h1 {
		font-size: 3rem;
		text-align: center;
		text-transform: uppercase;
		color: $hightlightColor;
		font-weight: 600;
		margin-bottom: 1rem;
	}

	h2 {
		font-size: $textMd;
		color: $mainColor;
		font-weight: 600;
		text-align: center;
	}

	h3 {
		font-size: $textMd;
		color: $hightlightColor;
		font-weight: 600;
		text-align: center;
	}

	h4, p {
		font-size: $textSm;
		font-weight: 600;
		text-align: center;
	}

	.headers {
		margin-top: 5rem;
		display: flex;
		justify-content: flex-end;
		align-content: flex-end;
		flex-direction: column;
	}

.error {
	opacity: 0;
	display: none;
	margin-top: 5rem;
	padding: 5rem;
	background-color: rgba($color: #fff, $alpha: .7);
	border-radius: 5px;
	transition: all ease-in-out 1s;
}
.inputs{
	opacity: 1;
	display: flex;
	flex-direction: column;
	margin-top: 5rem;
	padding-top: 5rem;
	background-color: rgba($color: #fff, $alpha: .7);
	border-radius: 5px;
	transition: all ease-in-out 1s;
	.input-group{
		display: flex;
		justify-content: center;
		select {
			height: 50px;
		}
		.comensales {
			display: flex;
			justify-content: center;
			align-items: center;
			background: #fff;
			width: fit-content;
			height: 50px;
		}
	}
}

	.output {
		margin-top: 5rem;
    .calculator {
      opacity: 1;
      width: fit-content;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      background-color: rgba($color: #fff, $alpha: .7);
      border-radius: 5px;
      transition: all ease-in-out 1s;
      .list-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }
		.card {
			opacity: 0;
			width: 50vw;
      max-width: 50vh;
			transition: all ease-in-out 1s;
		}
	}
}