@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

$fontMain: 'Lato', sans-serif;

// fonts

$textXl: 5rem;
$textLg: 3.5rem;
$textMd: 2.5rem;
$textSm: 1.5rem;